body{
    background:hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.container {
    background: White;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    max-width: 100%;
    margin: auto;
    margin-top: 15vh;
    width: 40vh;
}

.container img{
    border-radius: 15px;
    width: 40vh;
    max-width: 100%;
}

.container h1{
    color: hsl(218, 44%, 22%);
    font-size: 23px;
    font-weight:700;
}

.container p{
    color:hsl(220, 15%, 55%);
    font-size: 15px;
}

@media (max-width: 767px) {
    .container{
        max-width: 100%;
        width: 40%;
    }
   }